[Unit]
Description=CLIFF Whisper Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/squinlan/cliff_ai/whisper
ExecStart=/home/squinlan/cliff_ai/whisper/.venv/bin/uvicorn whisper_server:app --host 0.0.0.0 --port 8001 --ssl-keyfile=cert/whisper.key --ssl-certfile=cert/whisper.crt
Restart=on-failure
RestartSec=5

# Force CUDA environment
Environment=CUDA_VISIBLE_DEVICES=0
Environment=PATH=/usr/local/cuda-12.4/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=LD_LIBRARY_PATH=/usr/local/cuda-12.4/lib64:/lib/x86_64-linux-gnu:/usr/lib/x86_64-linux-gnu


[Install]
WantedBy=default.target
